.env
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv
backend_venv/
middleware_venv/
ENV/

# Environment variables
.env
config/.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
data/raw/
data/processed/
*.log
ml-32m
data
CSVs